In [1]:
import csv
import numpy as np
import pandas as pd
import os
from subprocess import check_output

In [9]:
infileAllJobClass = 'City_of_Seattle_Wages___Comparison_by_Gender_-_All_Job_Classifications-1.csv'
infileAveHrWageDept = 'City_of_Seattle_Wages__Comparison_by_Gender_-_Average_Hourly_Wage_by_Department-1.csv'
infileWageProgJobTitles = 'City_of_Seattle_Wages___Comparison_by_Gender__Wage_Progression_Job_Titles-1.csv'

In [6]:
dfAllJobClass = pd.read_csv(infileAllJobClass)
dfAllJobClass.head()

,Jobtitle,Female Avg Hrly Rate,No. Female Empl,Average of Female MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Male Avg Hrly Rate,No. Male Empl,Average of Male MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Total Avg Hrly Rate,Total No. Empl,Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Ratio of women's hourly rate to men's hourly rate - percentage,Notes
0,Accountant,30.58,23.0,88.96,30.28,7.0,85.71,30.51,30,88.20,101.00,NaN
1,"Accountant,Prin",38.75,23.0,59.96,37.64,7.0,7.00,38.49,30,47.60,102.95,NaN
2,"Accountant,Sr",34.48,23.0,60.61,33.89,6.0,43.67,34.36,29,57.10,101.75,NaN
3,Act Exec,43.10,4.0,146.00,42.02,7.0,106.29,42.42,11,120.73,102.56,NaN
4,Actg Tech I,22.56,1.0,156.00,NaN,NaN,NaN,22.56,1,156.00,NaN,no men in title

In [8]:
dfAveHrWageDept = pd.read_csv(infileAveHrWageDept)
dfAveHrWageDept.head()

,Department,Jobtitle,Female Avg Hrly Rate,No. Female Empl,Male Avg Hrly Rate,No. Male Empl,Total Avg Hrly Rate,Total No. Empl,Total Average of MONTHS LONGEVITY IN CURRENT CLASSIFICATION,Ratio of women's hourly rate to men's hourly rate - percentage,Notes
0,Arts and Cultural Affairs,Accountant,NaN,NaN,29.75,1.0,29.75,1,39.0,NaN,No women in title
1,Arts and Cultural Affairs,Actg Tech III,26.79,1.0,NaN,NaN,26.79,1,56.0,NaN,No men in title
2,Arts and Cultural Affairs,Admin Spec III,26.26,1.0,NaN,NaN,26.26,1,37.0,NaN,No men in title
3,Arts and Cultural Affairs,Admin Staff Asst,31.76,2.0,NaN,NaN,31.76,2,99.0,NaN,No men in title
4,Arts and Cultural Affairs,Arts Conserv Tech,27.78,1.0,27.78,1.0,27.78,2,65.0,100.0,NaN

In [10]:
dfWageProgJobTitles = pd.read_csv(infileWageProgJobTitles)
dfWageProgJobTitles.head()

,Job Classification,Female Avg Hrly Rate,No. Female Empl,Male Avg Hrly Rate,No. Male Empl,Total Avg Hrly Rate,Total No. Empl,Female to male % rate,Female to male % count,Notes
0,Accountant,30.58,23.0,30.28,7.0,30.51,30,101.0,329.0,NaN
1,"Accountant,Prin",38.75,23.0,37.64,7.0,38.49,30,103.0,329.0,NaN
2,"Accountant,Sr",34.48,23.0,33.89,6.0,34.36,29,102.0,383.0,NaN
3,Act Exec,43.10,4.0,42.02,7.0,42.42,11,103.0,57.0,NaN
4,Actg Tech I,22.56,1.0,NaN,NaN,22.56,1,NaN,NaN,no men in title

In [ ]:
#What is the male to female ratio of each deptartment? (choose 2-4 job titles) - pie charts

In [ ]:
#What is the female to male % average hourlt rate by department? (variance in wage) - scatterplot