In [1]:
import csv
import numpy as np
import pandas as pd
import os
from subprocess import check_output

In [2]:
infile = '../group-project/all.data.combined.csv'

In [3]:
df = pd.read_csv(infile)
df.head()

,series_id,year,period,value,footnote_codes,original_file
0,CES5500000007,1964,M01,37.1,NaN,ce.data.55c.FinancialActivities.ProductionEmpl...
1,CES5500000007,1964,M02,37.3,NaN,ce.data.55c.FinancialActivities.ProductionEmpl...
2,CES5500000007,1964,M03,37.2,NaN,ce.data.55c.FinancialActivities.ProductionEmpl...
3,CES5500000007,1964,M04,37.2,NaN,ce.data.55c.FinancialActivities.ProductionEmpl...
4,CES5500000007,1964,M05,37.2,NaN,ce.data.55c.FinancialActivities.ProductionEmpl...